
# 10_dataset

data*

# 20_optimization

20_optimization/2023*
20_optimization/pixel_workdir

21_optimization_bayes/2023*
21_optimization_bayes/pixel_workdir

22_opt_bayes_8dim/pixel_workdir
22_opt_bayes_8dim/2023*

25_optimization/2023*
25_optimization/pixel_workdir


# 30_entire_domain

30_entire_domain/pixel_workdir
30_entire_domain/2023*

40_whole_results


